body{
    position: relative;
    margin: 0;
    height: 100vh;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../Pictures/backgrounds/hasmik-ghazaryan-olson-z5ivBl5Dd1s-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed; 
    opacity: 0.5;
    z-index: -1;
}